    <!-- Contact and Footer Section -->
    <footer  id="footer-section">
        <a href="mailto:anitamalik.2016am@gmail.com"><img src="images/gmailLogo.png" alt="gmailLogo"></a>
        <p> @ Ankush Malik</p>
    </footer>


<!-- Bootstrap Javascript  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- JavaScript -->
 <script src="index.js"></script>
</body>
</html>